main{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    overflow: hidden;
    text-align: justify;
    padding-right: 1em;
}
section img{
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    height: 400px;
    width: 300px;
}
section button{
    background-color: white;
    padding: 5px;
    display: inline;
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
    border-color: grey;
    border-radius: 50%;
}
section button:hover{
    background-color: white;
    border-color: black;
    border-radius: 50%;
}
.cartlogo{
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 50%;
}
footer{
    clear: both;
}