.contact
{
    position: relative;
    height: 45%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size:cover;
    background:#ffffff;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 45px;
    font-weight: 500;
    color:black;
    text-align: center;
}
.contact .content p
{
    font-weight:400;
    color:black;
    font-size: 20px;
}
.container
{
    width: 100%;
    display: flex;
    justify-content:right;
    align-items:right;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 2px 0;
    display: flex;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left:40px;
    font-size: 15px;
    color:black;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color:black;
    font-size: 20px;
}
.contactForm
{
    position: absolute;
    width: 50%;
    height: 60%;
    border-radius: 20px;
    margin: auto;
    background:#ffffff;
    box-sizing: border-box;
    padding: 30px 10px;
    color:#ffffff;
    margin-top: 50px;
    right: 50px;
    top: 220px;
    padding-top: 2px;
    font-family: Arial, Helvetica, sans-serif;

}
 input[type=text],input[type=email],input[type=number],input[type=date],textarea[name=message],
 input[type=date],input[list=countries]
{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background:#ffffff;
    outline: none;
    border: none;
    columns: #ffffff;;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #cccccc;
    margin-top: 4px;
    margin-bottom: 5px;
    
}
::placeholder
{
    color:#333333
}
.contactform.label
{
    padding-left: 10px;
}
button[type=submit]
{
    float:left;
    color: black;
    background-color:#ffffff;
    box-sizing: border-box;
    padding: 5px;
    width: 400px;
    margin-top: 5px;
    border-radius: 20px;
}
button[type=submit]:hover
{
    background:#D8A7B1;

}
.container .contactInfo .box .text h3 img
{
    margin: 5px;
    
}

 




 









