/* This stylesheet is created by: Ekta wadhwa(c0796396) */
/* Styles for Mobile Layout */
header{
    background-image: radial-gradient(rgba(0, 0, 0, 0.438), rgba(255, 255, 255, 0)), url('../images/gallery/Gallery-Banner.png');
    background-position: center center;
    background-size: cover;
    height: 250px;
}
header h1{
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 5px;
    color: white;
    margin: auto;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.image-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.image-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

body{
    background-color: whitesmoke;
}

main img{
    width: 100%;
    height: auto;
}


/* Styles for Tablet Layout */
@media only screen and (min-width:769px) {
    main img{
        width: 30%;
    }
    .image-row {
        flex-direction: row;
        width: 100%;
    }
}

/* Desktop Layout */
@media only screen and (min-width:895px) {
    header {
        height: 350px;
    }
    header h1{
        font-size: 60px;
        height: 350px;
    }

    main img{
        padding: 1em;
        width: 30%;
    }



}

/* gallery page style sheet end */