.contact
{
    position: relative;
    height: 45%;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size:cover;
    background: #B6E2D3;
}
.contact .content
{
    max-width: 800px;
    text-align: center;
}
.contact .content h2
{
    font-size: 45px;
    font-weight: 500;
    color:#333333;
}
.contact .content p
{
    font-weight:400;
    color:#0C6980;
    font-size: 20px;
}
.container
{
    width: 100%;
    display: flex;
    justify-content:right;
    align-items:right;
}
.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box
{
    position: relative;
    padding: 2px 0;
    display: flex;
}
.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 15px;
    color:#F4B9B8;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box .text h3
{
    font-weight: 500;
    color:#e2808a;
    font-size: 20px;
}
.contactForm
{
    position: absolute;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    margin: auto;
    background:#FAE8E0;
    box-sizing: border-box;
    padding: 30px 10px;
    color:#ffffff;
    margin-top: 50px;
    right: 50px;
    top: 220px;
    padding-top: 10px;

}
h2
{
    text-align: center;
    color:#3D5B59

}
 input[type=text],input[type=email],input[type=number],input[type=date],textarea[name=message],input[type=date]
{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 5px;
    background:#ffffff;
    outline: none;
    border: none;
    columns: #333333;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
button[type=submit]
{
    float: left;
    color: black;
    background-color:#EF768C;
    box-sizing: border-box;
    padding: 5px;
    width: 100px;
    margin-top: 30px;
}
button[type=submit]:hover
{
    background:#D8A7B1;

}
.map
{
    width: 100%;
    height: auto;
    flex: 50%;
}

 




 









