/* Media query for desktop layout */

@media only screen and (min-width: 895px) {
    * {
        color: black;
        font-family: poppins;
    }

    /* Style to create a fluid image */
    img {
        width: 100%;
        height: auto;
    }

    nav{
        align-items: center;
        background-color: white;
        display: flex;
        justify-content: space-around;
        min-height: 8vh;
        padding: 0;
    }
    .logo{
        color: black;
        font-size: 25px;
        letter-spacing: 5px;
        padding-left: 2.5em;
        text-transform: uppercase;
        width: 50%;
    }

    .logo a {
        display: flex;
        color: black;
        text-decoration: none;
        text-transform: lowercase;
    }

    #logo-succulents{
        font-weight: bold;
    }

    /* Style for the nav-links */
    #logo-haven{
        font-weight: lighter;
    }

    /* Style for the nav-links */
    .nav-links{
        display:flex;
        font-size: large;
        justify-content: space-around;
        padding-left: 0;
        padding-right: 1.5em;
        width: 50%;
    }

    .nav-links li{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .nav-links a{
        display: inline-block;
        letter-spacing: 3px;
        padding: 0.7em;
        text-decoration: none;
    }

	/* Style rules for pseudo-classes */ 
	.nav-links a:hover {
        color: #B4DFD2;
        transform: scale(1.1);
    }

    /* Style for the body */
	body {
        margin: 0;
        padding: 0;
        background-color: whitesmoke;
    }
    
    /* Style for the footer specifies font size, text alignment, and top margin */
    footer {
        font-size: .70em;
        font-weight: 300;
        margin-top: 2em;
        text-align: center;
    }

    footer a {
        text-decoration: none;
    }

}
