/* Media query for Mobile layout */
/* Style for the banner */

#container {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

body {
    min-width: 375px;
}
#banner {
    background: url(../images/home/banner-img.png);
    background-size: cover;
    background-position: center center;
    height: 350px;
    position: relative;
    width: 100%;
}

#banner-area{
    font-size: 30px;
    left: 10%;
    position: absolute;
    top: 35%;
}

#banner-area a {
    text-decoration: none;
}

.banner-text:first-child {
    line-height: 20px;
}

.banner-text {
    color: whitesmoke;
    font-weight: 400;
}

#btnShop {
    background-color: #34A987;
    border: none;
    cursor: pointer;
    font-size: 15px;
    outline: none;
    padding: 0.3em 0.75em;
    width: 85px;
}

#btnShop:active {
    transform: translateY(1px);
}

#btnContents {
    color: white;
    font-weight: 500;
}


/* Style for the about us section */
#about-us {
    background-color: #ADD6CA;
    padding: 1em;
    text-align: center;
}

h1, h2 {
    font-weight: normal;
    letter-spacing: 3px;
}

h1 {
    font-size: 2em;
}

#about-us-p {
    font-weight: 300;
    padding: 1em;
    font-size: 15px;
}

/* Styles for features */
#featured {
    padding: 2em;
    display: block;
    max-width: 100%;
}

#featured span {
    font-size: 25px;
    letter-spacing: 5px;
}

.feat-hdr {
    padding: 1em;
}

.feat-succulent {
    margin: auto;
}

.feat-img {
    background-color: white;
    border-radius: 5px;
    width: 180px;
    height: 220px;
    padding: 1em;
    margin: 1em auto;
}

.feat-img img {
    height: 180px;
}

/* Media query for Tablet layout */
@media only screen and (min-width: 678px) {
    /* Style for the banner */
    #banner {
        height: 350px;
    }

    #banner-area{
        font-size: 45px;
    }

    #btnShop {
        font-size: 20px;
        width: 110px;
    }

    /* Style for the about us section */
    #about-us {
        display: flex;
    }

    #about-us-p {
        width: 50%;
        padding: 3em;
    }

    .about-us-img {
        align-items: center;
        width: 50%;
    }

    .feat-succulent {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .feat-img {
        height: 250px;
        width: auto;
        margin: 2em;
    }

    .feat-img img {
        height: 230px;
    }

}

/* Media query for desktop layout 895px*/
@media only screen and (min-width: 1360px) {
    /* Style for the banner section */
     #banner {
        height: 600px;
    }

    #banner-area{
        font-size: 70px;
    }

    .banner-text:first-child {
        line-height: 50px;
    }

    #btnShop {
        font-size: 25px;
        width: 140px;
    }

    /* Style for the about us section */
    #about-us {
        display: flex;
    }

    #about-us-p {
        width: 70%;
        font-size: 18px;
    }

    .about-us-img {
        padding: 1em;
        width: 30%;
    }

    .about-us-img img {
        max-height: 100%;
    }

    /* Styles for features section */
    .feat-img {
        height: 260px;
    }

    .feat-img img {
        height: 240px;
    }

    .feat-img img:hover{
        transform: scale(1.05);
        transition: .5s;
    }

    .featrow {
        display: flex;
    }
}
