/* This stylesheet is created by: Ekta wadhwa(c0796396) */
/* Styles for Mobile Layout */
header{
    background-image: radial-gradient(rgba(0, 0, 0, 0.438), rgba(255, 255, 255, 0)), url('../images/gallery/Gallery-Banner.png');
    background-position: center center;
    background-size: cover;
    height: 100px;
}
h1{
    text-align: center;
    font-size: 30px;
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100px; 
}

.image-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.image-row {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;

}

body{
    background-color: white;
}

main img{
    width: 30%;
}


/* Styles for Tablet Layout */
@media only screen and (min-width:769px) {
    main img{
        max-width: 30%;
    }
}

/* Desktop Layout */
@media only screen and (min-width:895px) {
    header {
        height: 300px;
    }
    header h1{
        font-size: 60px;
        height: 300px;
    }
    footer{
        margin-top: 0.5%;
        padding: 0.5%;
        text-align: center;
        background-color: lightgray;
    }

    main img{
        padding: 0.3%;
        width: 30%;
    }

}

/* gallery page style sheet end */