* 
{
    box-sizing: border-box;
}
body
{
    font-family:Verdana;
    background-color: #ffffff;
}
h1
{
    background-color:#B6E2D3;
    padding:15px;
    text-align:center;
    color: black;
}
.menu 
{
  float:left;
  width:40%;
  border-radius: 20px;
  padding-top: 2px;
  background-color: #ffffff;
  padding-left: 10px;
}
h2
{
    text-align: left;
    color: black;
}
input[type=text],input[type=email],input[type=number],input[type=date],textarea[name=message],
 input[type=date],input[list=countries]
{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 10px;
    background:#ffffff;
    outline: none;
    border: none;
    columns: #ffffff;;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #cccccc;
    margin-top: 4px;
    margin-bottom: 5px;
    
}
::placeholder
{
    color:#333333
}
label
{
    padding-left: 10px;
    color: black;
    text-align:left;
}
button[type=submit]
{
    float:left;
    color: black;
    background-color:#ffffff;
    box-sizing: border-box;
    padding: 5px;
    width: 70%;
    margin-top: 5px;
    border-radius: 20px;
}
button[type=submit]:hover
{
    background:#D8A7B1;
}

.main {
  float:left;
  width:30%;
  padding:0 20px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.main .box .text
{
    display: flex;
    margin-left:40px;
    font-size: 15px;
    color:black;
    flex-direction: column;
    font-weight: 300;
}
.main .box .text h3
{
    font-weight: 500;
    color:black;
    font-size: 20px;
}
    
.right {
  background-color:#ffffff;
  float: left;
  width:30%;
  padding: 10px;
  margin-top:7px;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}